@page "/ShowDetailInformationFormLayout"
@inject HttpClient Http
@inject WebServicePath wsp
@using TestsProject.Data

<style>
    .DetailFormLayout {
        width:500px;
    }
</style>
<h1>DxDataGrid - Show the detail information in DxFromLayout</h1>
@if (products == null)
{
    <h1>Loading...</h1>
}
else
{
    <DxDataGrid Data=@products
                ShowFilterRow=false>
        <DxDataGridColumn Field=@nameof(Products.ProductName)></DxDataGridColumn>
        <DxDataGridColumn Field=@nameof(Products.CategoryId) Width="150px" Caption="#">
            <DisplayTemplate>
                @{
                    int keyField = (context as Products).ProductId;
                    <button @onclick="@(() => { ShowDetail(keyField); })">Details</button>
                }
            </DisplayTemplate>
        </DxDataGridColumn>
    </DxDataGrid>
}
@if (product != null)
{
    <DxFormLayout CssClass="DetailFormLayout">
        <DxFormLayoutGroup Caption="Product Information">
            <DxFormLayoutItem Caption="Price:" ColSpanMd="6">
                <Template>
                    @product.UnitPrice
                </Template>
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="In stock(units):" ColSpanMd="6">
                <Template>
                    @product.UnitsInStock
                </Template>
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Quantity:" ColSpanMd="6">
                <Template>
                    @product.QuantityPerUnit
                </Template>
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Discontinued:" ColSpanMd="6">
                <Template>
                    <input id="discontinuedCheckbox" type="checkbox" checked=@product.Discontinued readonly />
                </Template>
            </DxFormLayoutItem>
        </DxFormLayoutGroup>
    </DxFormLayout>
}

@functions {
    List<Products> products;
    Products product;
    protected override async Task OnInitAsync()
    {
        products = await Http.GetJsonAsync<List<Products>>(wsp.Path + "products");
    }
    void ShowDetail(int id)
    {
        product = products.Where(m => m.ProductId == id).FirstOrDefault();
    }
}